---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Contact" description="Contact The Game Changers Circuit">
    <p>For inquiries, collaborations or feedback, please reach out to:</p>

    <p class="email">
        gamechangerscircuit@gmail.com
    </p>
</PageLayout>

<style is:global>
.about-title {
    font-size: 4.5rem;
	line-height: 1.50;
	margin: 0 0 0.5em 0;;
	font-weight: 700;
	letter-spacing: -0.04em;


	background: linear-gradient(
		9deg,
		#ffffff 20%,
		var(--pink-strong) 100%
	);
	

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	color: transparent;
}
.email {
    margin-top: 1rem;
    color: #f472b6;
    font-size: 1.1rem;
}
</style>
``
