---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body style="background-color: #0b0f19;">
        <Header />

        <main>       
			{heroImage && (
				<div class="hero-image">
					<img src={heroImage.src} class="hero-img" />
				</div>
			)}
			<div class="prose">
                <h1 class="about-title">{title}</h1>

                <hr />

                <slot />
            </div>
        </main>

        <Footer />
    </body>

    <style>
        main {
            width: calc(100% - 2em);
            max-width: 100%;
            margin: 0;
            background-color: #0b0f19;
        }

        .prose {
            width: 800px;
            max-width: calc(100% - 2em);
            margin: auto;
            padding: 2rem;
            color: #cbd5e1;
        }

        .about-title {
            margin: 0 0 1em 0;

            background: linear-gradient(
                90deg,
                #ffffff 20%,
                var(--pink-strong) 100%
            );

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            color: transparent;
        }
		
		.hero-image {
			width: 100%;
			margin-top: 1rem;
		}

		.hero-image img {
			display: block;
			margin: 0 auto;
			border-radius: 12px;
			max-width: 600px;			
			box-shadow: 
				
				0 2px 25px rgba(255, 255, 255, 0.12),
				0 5px 15px rgba(255, 255, 255, 0.2);
		}

    </style>
</html>